In [1]:
import pandas as pd
import numpy as np
import csv

Parks Data:

In [2]:
# Load the parks data from the parks.csv

parks_data_to_load = "./Resources/parks.csv"
parks_df = pd.read_csv(parks_data_to_load, encoding="utf-8")
parks_df.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [3]:
#Standardize the column names to lowercase & underscores:

renamed_parks_df = parks_df.rename(columns={"Park Code": "park_code",
                                        "Park Name": "park_name",
                                        "State": "state",
                                        "Acres": "acres",
                                        "Latitude": "latitude",
                                        "Longitude": "longitude",
                                                                    })
renamed_parks_df

,park_code,park_name,state,acres,latitude,longitude
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21
1,ARCH,Arches National Park,UT,76519,38.68,-109.57
2,BADL,Badlands National Park,SD,242756,43.75,-102.50
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42
11,CONG,Congaree National Park,SC,26546,33.78,-80.78
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55
14,DENA,Denali National Park and Preserve,AK,3372402,63.33,-150.50
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93
18,GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00
20,GLBA,Glacier Bay National Park and Preserve,AK,3224840,58.50,-137.00
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14
23,GRSA,Great Sand Dunes National Park and Preserve,CO,42984,37.73,-105.51
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90
32,KATM,Katmai National Park and Preserve,AK,3674530,58.50,-155.00
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65
34,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28
35,LACL,Lake Clark National Park and Preserve,AK,2619733,60.97,-153.42
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16
44,REDW,Redwood National Park,CA,112512,41.30,-124.00
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50
47,SEKI,Sequoia and Kings Canyon National Parks,CA,865952,36.43,-118.68
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48
52,WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50
55,ZION,Zion National Park,UT,146598,37.30,-113.05

In [4]:
# #Create a recod for Sequoia National Park
# seq = {"park_code": ["SEQU"], "park_name" : ["Sequoia and Kings Canyon National Park"], "state" : ["CA"], "acres" : [404064], "latitude" : [36.56], "longitude" : [-118.77]}
# seq_df = pd.DataFrame(data=seq)
# seq_df

In [5]:
# # Append (concat) the SEQU df into the Parks df, reset the index:
# complete_parks_df = pd.concat([renamed_parks_df, seq_df], axis=0, ignore_index=True)

# # Check to see is SEQU made it into the df (it did!):
# complete_parks_df.tail(5)

In [6]:
# Remove any words after the work "Park" in park_names:

p = '(.*Park)'
park_name_parks = renamed_parks_df["park_name"].str.extract(p)

In [7]:
# Final celan parks_df that has SEQU added, clumns standardized, and anything after "parks" removed:

renamed_parks_df["park_name"] = park_name_parks
parks_final_df = renamed_parks_df

#Check the final df and make sure its all there!
parks_final_df

,park_code,park_name,state,acres,latitude,longitude
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21
1,ARCH,Arches National Park,UT,76519,38.68,-109.57
2,BADL,Badlands National Park,SD,242756,43.75,-102.50
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42
11,CONG,Congaree National Park,SC,26546,33.78,-80.78
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55
14,DENA,Denali National Park,AK,3372402,63.33,-150.50
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93
18,GAAR,Gates Of The Arctic National Park,AK,7523898,67.78,-153.30
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00
20,GLBA,Glacier Bay National Park,AK,3224840,58.50,-137.00
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14
23,GRSA,Great Sand Dunes National Park,CO,42984,37.73,-105.51
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90
32,KATM,Katmai National Park,AK,3674530,58.50,-155.00
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65
34,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28
35,LACL,Lake Clark National Park,AK,2619733,60.97,-153.42
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16
44,REDW,Redwood National Park,CA,112512,41.30,-124.00
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50
47,SEKI,Sequoia and Kings Canyon National Park,CA,865952,36.43,-118.68
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48
52,WRST,Wrangell - St Elias National Park,AK,8323148,61.00,-142.00
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50
55,ZION,Zion National Park,UT,146598,37.30,-113.05

Trails Data:

In [8]:
# Load the trail data from trail_data.csv:

trails_data_to_load = "./Resources/trail_data.csv"
trails_df = pd.read_csv(trails_data_to_load, low_memory=False, encoding="utf-8")
trails_df.head(5)

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [9]:
# Format the trail_data_df to be lowercase and underscored:

renamed_trails_df = trails_df.rename(columns={"area_name": "park_name"})
renamed_trails_df.head()

,trail_id,name,park_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [10]:
# Remove any words after the work "Park" in park_names
p = '(.*Park)'
park_name_trails = renamed_trails_df["park_name"].str.extract(p)

#Checking the regex function

park_name_trails.value_counts()

Great Smoky Mountains National Park           293
Yosemite National Park                        242
Yellowstone National Park                     228
Rocky Mountain National Park                  207
Shenandoah National Park                      187
Acadia National Park                          179
Olympic National Park                         170
Glacier National Park                         132
Mount Rainier National Park                   130
Joshua Tree National Park                     108
Grand Teton National Park                     102
Grand Canyon National Park                     99
Zion National Park                             94
Sequoia National Park                          90
Death Valley National Park                     79
Canyonlands National Park                      77
Big Bend National Park                         70
Kings Canyon National Park                     61
Saguaro National Park                          60
Lassen Volcanic National Park                  59
Cuyahoga Valley National Park                  50
Arches National Park                           48
Capitol Reef National Park                     42
Hawaii Volcanoes National Park                 35
Bryce Canyon National Park                     31
Mammoth Cave National Park                     28
Pinnacles National Park                        27
Guadalupe Mountains National Park              24
Black Canyon of the Gunnison National Park     24
Everglades National Park                       24
Theodore Roosevelt National Park               23
Redwood National Park                          22
Crater Lake National Park                      22
Great Basin National Park                      22
Channel Islands National Park                  22
Denali National Park                           20
North Cascades National Park                   20
Mesa Verde National Park                       17
Indiana Dunes National Park                    16
Hot Springs National Park                      16
Petrified Forest National Park                 15
Haleakala National Park                        14
Great Sand Dunes National Park                 14
Badlands National Park                         10
Wind Cave National Park                        10
Congaree National Park                          8
Carlsbad Caverns National Park                  8
Voyageurs National Park                         7
Glacier Bay National Park                       5
Isle Royale National Park                       4
Biscayne National Park                          4
Fort Hunt National Park                         3
Gateway Arch National Park                      2
Fort Pickens National Park                      2
Kenai Fjords National Park                      2
Katmai National Park                            2
Dry Tortugas National Park                      1
Clayton Co International Park                   1
Wolf Trap National Park                         1
dtype: int64

In [11]:
# exchange the new park_name column in the renamed_trails_df

renamed_trails_df["park_name"] = park_name_trails.values
renamed_trails_df

,trail_id,name,park_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3308,10008302,Silversword Loop Via Halemau'u Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.75275, 'lng': -156.22884}",9.3861,20116.750,1105.8144,5,loop,2.0,4.5,43,"['dogs-no', 'views', 'wild-flowers']","['birding', 'hiking', 'nature-trips']",m
3309,10236001,Keonehe'ehe'e Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.714480000000002, 'lng': -156.25072}",9.1555,28324.384,1171.9560,5,out and back,2.0,5.0,22,"['dogs-no', 'views', 'wildlife']","['backpacking', 'camping', 'hiking']",m
3310,10258707,Red Hill Overlook Summit Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.71007, 'lng': -156.25357}",8.5066,321.868,3.9624,1,out and back,NaN,4.5,31,"['dogs-no', 'kids', 'views']","['hiking', 'walking']",m
3311,10014989,Kaupo Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.64981, 'lng': -156.137}",8.3240,19312.080,1670.9136,5,out and back,1.0,4.0,8,"['dogs-no', 'views', 'wildlife']",['hiking'],m
3312,10259465,Ka Lu'u o ka O'o Cinder Cone via Crater and Sl...,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.71449, 'lng': -156.25085}",2.4176,8368.568,510.8448,3,loop,2.0,4.5,45,['views'],['hiking'],m

In [12]:
# Use pd.replace to replace "Sequoia National Park" and "Kings Canyon National Park"
# with "Sequoia and Kings Canyon National Park":

renamed_trails_df['park_name'] = renamed_trails_df['park_name'].replace(['Kings Canyon National Park','Sequoia National Park'],'Sequoia and Kings Canyon National Park')
trails_final_df = renamed_trails_df
trails_final_df

,trail_id,name,park_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3308,10008302,Silversword Loop Via Halemau'u Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.75275, 'lng': -156.22884}",9.3861,20116.750,1105.8144,5,loop,2.0,4.5,43,"['dogs-no', 'views', 'wild-flowers']","['birding', 'hiking', 'nature-trips']",m
3309,10236001,Keonehe'ehe'e Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.714480000000002, 'lng': -156.25072}",9.1555,28324.384,1171.9560,5,out and back,2.0,5.0,22,"['dogs-no', 'views', 'wildlife']","['backpacking', 'camping', 'hiking']",m
3310,10258707,Red Hill Overlook Summit Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.71007, 'lng': -156.25357}",8.5066,321.868,3.9624,1,out and back,NaN,4.5,31,"['dogs-no', 'kids', 'views']","['hiking', 'walking']",m
3311,10014989,Kaupo Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.64981, 'lng': -156.137}",8.3240,19312.080,1670.9136,5,out and back,1.0,4.0,8,"['dogs-no', 'views', 'wildlife']",['hiking'],m
3312,10259465,Ka Lu'u o ka O'o Cinder Cone via Crater and Sl...,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.71449, 'lng': -156.25085}",2.4176,8368.568,510.8448,3,loop,2.0,4.5,45,['views'],['hiking'],m

In [13]:
# Create a value for the number of trails per park
# Sequoia and Kings Canyon National Park should equal 90 + 61):

trail_count = trails_final_df.groupby(["park_name"]).count()["trail_id"].sort_values(ascending=False)
trail_count

park_name
Great Smoky Mountains National Park           293
Yosemite National Park                        242
Yellowstone National Park                     228
Rocky Mountain National Park                  207
Shenandoah National Park                      187
Acadia National Park                          179
Olympic National Park                         170
Sequoia and Kings Canyon National Park        151
Glacier National Park                         132
Mount Rainier National Park                   130
Joshua Tree National Park                     108
Grand Teton National Park                     102
Grand Canyon National Park                     99
Zion National Park                             94
Death Valley National Park                     79
Canyonlands National Park                      77
Big Bend National Park                         70
Saguaro National Park                          60
Lassen Volcanic National Park                  59
Cuyahoga Valley National Park                  50
Arches National Park                           48
Capitol Reef National Park                     42
Hawaii Volcanoes National Park                 35
Bryce Canyon National Park                     31
Mammoth Cave National Park                     28
Pinnacles National Park                        27
Black Canyon of the Gunnison National Park     24
Guadalupe Mountains National Park              24
Everglades National Park                       24
Theodore Roosevelt National Park               23
Channel Islands National Park                  22
Redwood National Park                          22
Crater Lake National Park                      22
Great Basin National Park                      22
North Cascades National Park                   20
Denali National Park                           20
Mesa Verde National Park                       17
Hot Springs National Park                      16
Indiana Dunes National Park                    16
Petrified Forest National Park                 15
Great Sand Dunes National Park                 14
Haleakala National Park                        14
Badlands National Park                         10
Wind Cave National Park                        10
Congaree National Park                          8
Carlsbad Caverns National Park                  8
Voyageurs National Park                         7
Glacier Bay National Park                       5
Isle Royale National Park                       4
Biscayne National Park                          4
Fort Hunt National Park                         3
Gateway Arch National Park                      2
Fort Pickens National Park                      2
Kenai Fjords National Park                      2
Katmai National Park                            2
Dry Tortugas National Park                      1
Wolf Trap National Park                         1
Clayton Co International Park                   1
Name: trail_id, dtype: int64

In [14]:
# Create a value for the average popularity score for all trails within a certain park:

trail_pop_avg = trails_final_df.groupby(["park_name"]).mean()["popularity"].sort_values(ascending=False)
print(trail_pop_avg)

park_name
Kenai Fjords National Park                    21.337600
Bryce Canyon National Park                    16.617903
Haleakala National Park                       13.723586
Arches National Park                          13.462423
Badlands National Park                        13.141040
Rocky Mountain National Park                  13.007846
Crater Lake National Park                     12.430750
Zion National Park                            12.027557
Mount Rainier National Park                   11.726444
Glacier National Park                         10.061925
Grand Canyon National Park                     9.716001
Pinnacles National Park                        9.421904
Olympic National Park                          9.389508
North Cascades National Park                   9.374660
Grand Teton National Park                      9.373725
Sequoia and Kings Canyon National Park         9.243440
Yosemite National Park                         9.235686
Capitol Reef National Park                     9.006231
Cuyahoga Valley National Park                  8.771132
Shenandoah National Park                       8.517370
Great Sand Dunes National Park                 8.381900
Acadia National Park                           8.375920
Great Smoky Mountains National Park            8.313232
Mesa Verde National Park                       8.225906
Canyonlands National Park                      8.143584
Joshua Tree National Park                      7.860079
Black Canyon of the Gunnison National Park     7.690121
Petrified Forest National Park                 7.688287
Hot Springs National Park                      7.326819
Big Bend National Park                         7.176380
Redwood National Park                          7.145291
Lassen Volcanic National Park                  7.117390
Wolf Trap National Park                        7.111900
Guadalupe Mountains National Park              7.075000
Yellowstone National Park                      7.006884
Congaree National Park                         6.675575
Saguaro National Park                          6.639557
Fort Pickens National Park                     6.373850
Death Valley National Park                     6.359223
Great Basin National Park                      6.347132
Hawaii Volcanoes National Park                 6.123489
Denali National Park                           6.091125
Mammoth Cave National Park                     5.800725
Theodore Roosevelt National Park               5.785835
Channel Islands National Park                  5.626650
Wind Cave National Park                        5.500610
Carlsbad Caverns National Park                 5.329462
Gateway Arch National Park                     5.306350
Dry Tortugas National Park                     5.177600
Indiana Dunes National Park                    5.099050
Fort Hunt National Park                        4.921167
Clayton Co International Park                  4.729100
Everglades National Park                       4.532038
Biscayne National Park                         4.055200
Voyageurs National Park                        3.040929
Isle Royale National Park                      3.018375
Katmai National Park                           2.263250
Glacier Bay National Park                      2.159100
Name: popularity, dtype: float64

In [15]:
# Creat a new df that contains the count of trails and the average poplarity of each park:

trail_count_pop_df = pd.DataFrame({
    "trail_count": trail_count,
    "avg_popularity": trail_pop_avg,
})

#Reset the index so the park name is no longer the index:

trail_count_pop_df.reset_index(inplace=True)
trail_count_pop_df = trail_count_pop_df.rename(columns = {'index':'park_name'})

trail_count_pop_df

                                     park_name  trail_count  avg_popularity
0                         Acadia National Park          179        8.375920
1                         Arches National Park           48       13.462423
2                       Badlands National Park           10       13.141040
3                       Big Bend National Park           70        7.176380
4                       Biscayne National Park            4        4.055200
5   Black Canyon of the Gunnison National Park           24        7.690121
6                   Bryce Canyon National Park           31       16.617903
7                    Canyonlands National Park           77        8.143584
8                   Capitol Reef National Park           42        9.006231
9               Carlsbad Caverns National Park            8        5.329462
10               Channel Islands National Park           22        5.626650
11               Clayton Co International Park            1        4.729100
12                      Congaree National Park            8        6.675575
13                   Crater Lake National Park           22       12.430750
14               Cuyahoga Valley National Park           50        8.771132
15                  Death Valley National Park           79        6.359223
16                        Denali National Park           20        6.091125
17                  Dry Tortugas National Park            1        5.177600
18                    Everglades National Park           24        4.532038
19                     Fort Hunt National Park            3        4.921167
20                  Fort Pickens National Park            2        6.373850
21                  Gateway Arch National Park            2        5.306350
22                   Glacier Bay National Park            5        2.159100
23                       Glacier National Park          132       10.061925
24                  Grand Canyon National Park           99        9.716001
25                   Grand Teton National Park          102        9.373725
26                   Great Basin National Park           22        6.347132
27              Great Sand Dunes National Park           14        8.381900
28         Great Smoky Mountains National Park          293        8.313232
29           Guadalupe Mountains National Park           24        7.075000
30                     Haleakala National Park           14       13.723586
31              Hawaii Volcanoes National Park           35        6.123489
32                   Hot Springs National Park           16        7.326819
33                 Indiana Dunes National Park           16        5.099050
34                   Isle Royale National Park            4        3.018375
35                   Joshua Tree National Park          108        7.860079
36                        Katmai National Park            2        2.263250
37                  Kenai Fjords National Park            2       21.337600
38               Lassen Volcanic National Park           59        7.117390
39                  Mammoth Cave National Park           28        5.800725
40                    Mesa Verde National Park           17        8.225906
41                 Mount Rainier National Park          130       11.726444
42                North Cascades National Park           20        9.374660
43                       Olympic National Park          170        9.389508
44              Petrified Forest National Park           15        7.688287
45                     Pinnacles National Park           27        9.421904
46                       Redwood National Park           22        7.145291
47                Rocky Mountain National Park          207       13.007846
48                       Saguaro National Park           60        6.639557
49      Sequoia and Kings Canyon National Park          151        9.243440
50                    Shenandoah National Park          187        8.517370
51            Theodore Roosevelt National Park           23        5.785835
52                     Voyageurs National Park            7        3.040929
53                     Wind Cave National Park           10        5.500610
54                     Wolf Trap National Park            1        7.111900
55                   Yellowstone National Park          228        7.006884
56                      Yosemite National Park          242        9.235686
57                          Zion National Park           94       12.027557

Biodiversity Data

In [16]:
#Load the species data from the species.csv file:

biodiversity_data_to_load = "./Resources/species.csv"
bio_df = pd.read_csv(biodiversity_data_to_load, low_memory=False)
bio_df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [17]:
# Get the information for the species_df:

bio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119248 entries, 0 to 119247
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Species ID           119248 non-null  object
 1   Park Name            119248 non-null  object
 2   Category             119248 non-null  object
 3   Order                117776 non-null  object
 4   Family               117736 non-null  object
 5   Scientific Name      119248 non-null  object
 6   Common Names         119248 non-null  object
 7   Record Status        119248 non-null  object
 8   Occurrence           99106 non-null   object
 9   Nativeness           94203 non-null   object
 10  Abundance            76306 non-null   object
 11  Seasonality          20157 non-null   object
 12  Conservation Status  4718 non-null    object
 13  Unnamed: 13          5 non-null       object
dtypes: object(14)
memory usage: 12.7+ MB

In [18]:
reduced_bio_df = bio_df[["Species ID", "Park Name", "Scientific Name",
                       "Occurrence", "Abundance", "Conservation Status"]].copy()
reduced_bio_df.head()

,Species ID,Park Name,Scientific Name,Occurrence,Abundance,Conservation Status
0,ACAD-1000,Acadia National Park,Alces alces,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Present,Common,NaN

In [19]:
renamed_bio_df = reduced_bio_df.rename(columns={"Species ID": "species_id",
                                        "Park Name": "park_name",
                                        "Scientific Name": "scientific_name",
                                        "Occurrence": "occurence",
                                        "Abundance": "abundance",
                                        "Conservation Status": "conservation_status",
                                       })
renamed_bio_df.head()

,species_id,park_name,scientific_name,occurence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Alces alces,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Present,Common,NaN

In [20]:
# Remove any words after the work "Park" in park_names
p = '(.*Park)'
park_name_bio = renamed_bio_df["park_name"].str.extract(p)

#Checking the regex function

park_name_bio.value_counts()

Great Smoky Mountains National Park           6623
Redwood National Park                         6310
Shenandoah National Park                      4655
Death Valley National Park                    4439
Yellowstone National Park                     3966
Crater Lake National Park                     3760
North Cascades National Park                  3363
Hawaii Volcanoes National Park                3298
Rocky Mountain National Park                  3152
Great Basin National Park                     2653
Grand Canyon National Park                    2622
Haleakala National Park                       2580
Glacier National Park                         2556
Mammoth Cave National Park                    2499
Congaree National Park                        2321
Joshua Tree National Park                     2294
Big Bend National Park                        2269
Yosemite National Park                        2088
Everglades National Park                      2084
Grand Teton National Park                     2030
Lake Clark National Park                      2007
Sequoia and Kings Canyon National Park        1995
Glacier Bay National Park                     1957
Hot Springs National Park                     1950
Olympic National Park                         1948
Cuyahoga Valley National Park                 1941
Channel Islands National Park                 1885
Saguaro National Park                         1834
Lassen Volcanic National Park                 1797
Wrangell - St Elias National Park             1796
Zion National Park                            1796
Guadalupe Mountains National Park             1746
Mount Rainier National Park                   1743
Biscayne National Park                        1726
Acadia National Park                          1709
Capitol Reef National Park                    1566
Carlsbad Caverns National Park                1536
Voyageurs National Park                       1453
Pinnacles National Park                       1416
Isle Royale National Park                     1397
Wind Cave National Park                       1395
Badlands National Park                        1389
Gates Of The Arctic National Park             1353
Denali National Park                          1320
Bryce Canyon National Park                    1286
Mesa Verde National Park                      1243
Katmai National Park                          1225
Canyonlands National Park                     1223
Theodore Roosevelt National Park              1165
Black Canyon of the Gunnison National Park    1106
Kenai Fjords National Park                    1057
Arches National Park                          1048
Kobuk Valley National Park                    1025
Great Sand Dunes National Park                 952
Petrified Forest National Park                 853
Dry Tortugas National Park                     848
dtype: int64

In [21]:
# exchange the new park_name column in the renamed_bio_df

renamed_bio_df["park_name"] = park_name_bio.values
renamed_bio_df

,species_id,park_name,scientific_name,occurence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Alces alces,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Present,Common,NaN
...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Solanum triflorum,Present,Uncommon,NaN
119244,ZION-2792,Zion National Park,Vitis arizonica,Present,Uncommon,NaN
119245,ZION-2793,Zion National Park,Vitis vinifera,Present,Uncommon,NaN
119246,ZION-2794,Zion National Park,Larrea tridentata,Present,Rare,NaN
119247,ZION-2795,Zion National Park,Tribulus terrestris,Present,Uncommon,NaN

In [22]:
# Create a varible that will store the counts of each species per park:
    
bio_count = renamed_bio_df.groupby(["park_name"]).count()["species_id"]
print(bio_count)

park_name
Acadia National Park                          1709
Arches National Park                          1048
Badlands National Park                        1389
Big Bend National Park                        2269
Biscayne National Park                        1726
Black Canyon of the Gunnison National Park    1106
Bryce Canyon National Park                    1286
Canyonlands National Park                     1223
Capitol Reef National Park                    1566
Carlsbad Caverns National Park                1536
Channel Islands National Park                 1885
Congaree National Park                        2321
Crater Lake National Park                     3760
Cuyahoga Valley National Park                 1941
Death Valley National Park                    4439
Denali National Park                          1320
Dry Tortugas National Park                     848
Everglades National Park                      2084
Gates Of The Arctic National Park             1353
Glacier Bay National Park                     1957
Glacier National Park                         2556
Grand Canyon National Park                    2622
Grand Teton National Park                     2030
Great Basin National Park                     2653
Great Sand Dunes National Park                 952
Great Smoky Mountains National Park           6623
Guadalupe Mountains National Park             1746
Haleakala National Park                       2580
Hawaii Volcanoes National Park                3298
Hot Springs National Park                     1950
Isle Royale National Park                     1397
Joshua Tree National Park                     2294
Katmai National Park                          1225
Kenai Fjords National Park                    1057
Kobuk Valley National Park                    1025
Lake Clark National Park                      2007
Lassen Volcanic National Park                 1797
Mammoth Cave National Park                    2499
Mesa Verde National Park                      1243
Mount Rainier National Park                   1743
North Cascades National Park                  3363
Olympic National Park                         1948
Petrified Forest National Park                 853
Pinnacles National Park                       1416
Redwood National Park                         6310
Rocky Mountain National Park                  3152
Saguaro National Park                         1834
Sequoia and Kings Canyon National Park        1995
Shenandoah National Park                      4655
Theodore Roosevelt National Park              1165
Voyageurs National Park                       1453
Wind Cave National Park                       1395
Wrangell - St Elias National Park             1796
Yellowstone National Park                     3966
Yosemite National Park                        2088
Zion National Park                            1796
Name: species_id, dtype: int64

MERGED Parks and Trail Popularity DF (attempt)

In [23]:
#Create a dataframe that populates the parks_df with trail count and popularity data from the trails df:
merged_parks_df = pd.merge(parks_final_df, trail_count_pop_df, on="park_name", how="left")
pd.options.display.max_rows = 100
merged_parks_df

,park_code,park_name,state,acres,latitude,longitude,trail_count,avg_popularity
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,179.0,8.375920
1,ARCH,Arches National Park,UT,76519,38.68,-109.57,48.0,13.462423
2,BADL,Badlands National Park,SD,242756,43.75,-102.50,10.0,13.141040
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25,70.0,7.176380
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08,4.0,4.055200
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72,24.0,7.690121
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18,31.0,16.617903
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93,77.0,8.143584
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17,42.0,9.006231
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44,8.0,5.329462
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42,22.0,5.626650
11,CONG,Congaree National Park,SC,26546,33.78,-80.78,8.0,6.675575
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10,22.0,12.430750
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55,50.0,8.771132
14,DENA,Denali National Park,AK,3372402,63.33,-150.50,20.0,6.091125
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82,79.0,6.359223
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87,1.0,5.177600
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93,24.0,4.532038
18,GAAR,Gates Of The Arctic National Park,AK,7523898,67.78,-153.30,NaN,NaN
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00,132.0,10.061925
20,GLBA,Glacier Bay National Park,AK,3224840,58.50,-137.00,5.0,2.159100
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30,22.0,6.347132
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14,99.0,9.716001
23,GRSA,Great Sand Dunes National Park,CO,42984,37.73,-105.51,14.0,8.381900
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53,293.0,8.313232
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80,102.0,9.373725
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87,24.0,7.075000
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17,14.0,13.723586
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20,35.0,6.123489
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05,16.0,7.326819
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55,4.0,3.018375
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90,108.0,7.860079
32,KATM,Katmai National Park,AK,3674530,58.50,-155.00,2.0,2.263250
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65,2.0,21.337600
34,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28,NaN,NaN
35,LACL,Lake Clark National Park,AK,2619733,60.97,-153.42,NaN,NaN
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51,59.0,7.117390
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10,28.0,5.800725
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49,17.0,8.225906
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75,130.0,11.726444
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20,20.0,9.374660
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50,170.0,9.389508
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78,15.0,7.688287
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16,27.0,9.421904
44,REDW,Redwood National Park,CA,112512,41.30,-124.00,22.0,7.145291
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58,207.0,13.007846
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50,60.0,6.639557
47,SEKI,Sequoia and Kings Canyon National Park,CA,865952,36.43,-118.68,151.0,9.243440
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35,187.0,8.517370
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45,23.0,5.785835
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88,7.0,3.040929
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48,10.0,5.500610
52,WRST,Wrangell - St Elias National Park,AK,8323148,61.00,-142.00,NaN,NaN
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50,228.0,7.006884
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50,242.0,9.235686
55,ZION,Zion National Park,UT,146598,37.30,-113.05,94.0,12.027557

In [24]:
#Check the rows with NaNs in the trails data columns:

merged_parks_df.isna().sum()

park_code         0
park_name         0
state             0
acres             0
latitude          0
longitude         0
trail_count       4
avg_popularity    4
dtype: int64

In [25]:
#Drop the rows with NaNs in the trails data columns:

parks_trails_final_df = merged_parks_df.dropna(axis=0)
parks_trails_final_df

,park_code,park_name,state,acres,latitude,longitude,trail_count,avg_popularity
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,179.0,8.375920
1,ARCH,Arches National Park,UT,76519,38.68,-109.57,48.0,13.462423
2,BADL,Badlands National Park,SD,242756,43.75,-102.50,10.0,13.141040
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25,70.0,7.176380
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08,4.0,4.055200
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72,24.0,7.690121
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18,31.0,16.617903
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93,77.0,8.143584
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17,42.0,9.006231
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44,8.0,5.329462
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42,22.0,5.626650
11,CONG,Congaree National Park,SC,26546,33.78,-80.78,8.0,6.675575
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10,22.0,12.430750
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55,50.0,8.771132
14,DENA,Denali National Park,AK,3372402,63.33,-150.50,20.0,6.091125
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82,79.0,6.359223
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87,1.0,5.177600
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93,24.0,4.532038
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00,132.0,10.061925
20,GLBA,Glacier Bay National Park,AK,3224840,58.50,-137.00,5.0,2.159100
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30,22.0,6.347132
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14,99.0,9.716001
23,GRSA,Great Sand Dunes National Park,CO,42984,37.73,-105.51,14.0,8.381900
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53,293.0,8.313232
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80,102.0,9.373725
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87,24.0,7.075000
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17,14.0,13.723586
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20,35.0,6.123489
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05,16.0,7.326819
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55,4.0,3.018375
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90,108.0,7.860079
32,KATM,Katmai National Park,AK,3674530,58.50,-155.00,2.0,2.263250
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65,2.0,21.337600
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51,59.0,7.117390
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10,28.0,5.800725
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49,17.0,8.225906
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75,130.0,11.726444
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20,20.0,9.374660
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50,170.0,9.389508
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78,15.0,7.688287
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16,27.0,9.421904
44,REDW,Redwood National Park,CA,112512,41.30,-124.00,22.0,7.145291
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58,207.0,13.007846
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50,60.0,6.639557
47,SEKI,Sequoia and Kings Canyon National Park,CA,865952,36.43,-118.68,151.0,9.243440
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35,187.0,8.517370
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45,23.0,5.785835
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88,7.0,3.040929
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48,10.0,5.500610
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50,228.0,7.006884
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50,242.0,9.235686
55,ZION,Zion National Park,UT,146598,37.30,-113.05,94.0,12.027557

In [26]:
# Write final df to CSV:

merged_data_to_load = "./Resources/parks_trails_final.csv"
parks_trails_final_df.to_csv(merged_data_to_load, index=False)

Biodiversity Count Merge (TEST)

In [41]:
# Creat a new df that contains the count of trails, the average poplarity of each park, and species count per park:

park_bio_test_df = pd.DataFrame({
    "trail_count": trail_count,
    "avg_popularity": trail_pop_avg,
    "species_count" : bio_count,
})

#Reset the index so the park name is no longer the index:

park_bio_test_df.reset_index(inplace=True)
park_bio_test_df = park_bio_test_df.rename(columns = {'index':'park_name'})

park_bio_test_df

,park_name,trail_count,avg_popularity,species_count
0,Acadia National Park,179.0,8.375920,1709.0
1,Arches National Park,48.0,13.462423,1048.0
2,Badlands National Park,10.0,13.141040,1389.0
3,Big Bend National Park,70.0,7.176380,2269.0
4,Biscayne National Park,4.0,4.055200,1726.0
5,Black Canyon of the Gunnison National Park,24.0,7.690121,1106.0
6,Bryce Canyon National Park,31.0,16.617903,1286.0
7,Canyonlands National Park,77.0,8.143584,1223.0
8,Capitol Reef National Park,42.0,9.006231,1566.0
9,Carlsbad Caverns National Park,8.0,5.329462,1536.0
10,Channel Islands National Park,22.0,5.626650,1885.0
11,Clayton Co International Park,1.0,4.729100,NaN
12,Congaree National Park,8.0,6.675575,2321.0
13,Crater Lake National Park,22.0,12.430750,3760.0
14,Cuyahoga Valley National Park,50.0,8.771132,1941.0
15,Death Valley National Park,79.0,6.359223,4439.0
16,Denali National Park,20.0,6.091125,1320.0
17,Dry Tortugas National Park,1.0,5.177600,848.0
18,Everglades National Park,24.0,4.532038,2084.0
19,Fort Hunt National Park,3.0,4.921167,NaN
20,Fort Pickens National Park,2.0,6.373850,NaN
21,Gates Of The Arctic National Park,NaN,NaN,1353.0
22,Gateway Arch National Park,2.0,5.306350,NaN
23,Glacier Bay National Park,5.0,2.159100,1957.0
24,Glacier National Park,132.0,10.061925,2556.0
25,Grand Canyon National Park,99.0,9.716001,2622.0
26,Grand Teton National Park,102.0,9.373725,2030.0
27,Great Basin National Park,22.0,6.347132,2653.0
28,Great Sand Dunes National Park,14.0,8.381900,952.0
29,Great Smoky Mountains National Park,293.0,8.313232,6623.0
30,Guadalupe Mountains National Park,24.0,7.075000,1746.0
31,Haleakala National Park,14.0,13.723586,2580.0
32,Hawaii Volcanoes National Park,35.0,6.123489,3298.0
33,Hot Springs National Park,16.0,7.326819,1950.0
34,Indiana Dunes National Park,16.0,5.099050,NaN
35,Isle Royale National Park,4.0,3.018375,1397.0
36,Joshua Tree National Park,108.0,7.860079,2294.0
37,Katmai National Park,2.0,2.263250,1225.0
38,Kenai Fjords National Park,2.0,21.337600,1057.0
39,Kobuk Valley National Park,NaN,NaN,1025.0
40,Lake Clark National Park,NaN,NaN,2007.0
41,Lassen Volcanic National Park,59.0,7.117390,1797.0
42,Mammoth Cave National Park,28.0,5.800725,2499.0
43,Mesa Verde National Park,17.0,8.225906,1243.0
44,Mount Rainier National Park,130.0,11.726444,1743.0
45,North Cascades National Park,20.0,9.374660,3363.0
46,Olympic National Park,170.0,9.389508,1948.0
47,Petrified Forest National Park,15.0,7.688287,853.0
48,Pinnacles National Park,27.0,9.421904,1416.0
49,Redwood National Park,22.0,7.145291,6310.0
50,Rocky Mountain National Park,207.0,13.007846,3152.0
51,Saguaro National Park,60.0,6.639557,1834.0
52,Sequoia and Kings Canyon National Park,151.0,9.243440,1995.0
53,Shenandoah National Park,187.0,8.517370,4655.0
54,Theodore Roosevelt National Park,23.0,5.785835,1165.0
55,Voyageurs National Park,7.0,3.040929,1453.0
56,Wind Cave National Park,10.0,5.500610,1395.0
57,Wolf Trap National Park,1.0,7.111900,NaN
58,Wrangell - St Elias National Park,NaN,NaN,1796.0
59,Yellowstone National Park,228.0,7.006884,3966.0
60,Yosemite National Park,242.0,9.235686,2088.0
61,Zion National Park,94.0,12.027557,1796.0

In [42]:
#Create a dataframe that populates the parks_df with trail count and popularity data from the trails df:
merged_parks_bio_df = pd.merge(parks_final_df, park_bio_test_df, on="park_name", how="left")
pd.options.display.max_rows = 100
merged_parks_bio_df

,park_code,park_name,state,acres,latitude,longitude,trail_count,avg_popularity,species_count
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,179.0,8.375920,1709.0
1,ARCH,Arches National Park,UT,76519,38.68,-109.57,48.0,13.462423,1048.0
2,BADL,Badlands National Park,SD,242756,43.75,-102.50,10.0,13.141040,1389.0
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25,70.0,7.176380,2269.0
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08,4.0,4.055200,1726.0
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72,24.0,7.690121,1106.0
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18,31.0,16.617903,1286.0
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93,77.0,8.143584,1223.0
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17,42.0,9.006231,1566.0
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44,8.0,5.329462,1536.0
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42,22.0,5.626650,1885.0
11,CONG,Congaree National Park,SC,26546,33.78,-80.78,8.0,6.675575,2321.0
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10,22.0,12.430750,3760.0
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55,50.0,8.771132,1941.0
14,DENA,Denali National Park,AK,3372402,63.33,-150.50,20.0,6.091125,1320.0
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82,79.0,6.359223,4439.0
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87,1.0,5.177600,848.0
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93,24.0,4.532038,2084.0
18,GAAR,Gates Of The Arctic National Park,AK,7523898,67.78,-153.30,NaN,NaN,1353.0
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00,132.0,10.061925,2556.0
20,GLBA,Glacier Bay National Park,AK,3224840,58.50,-137.00,5.0,2.159100,1957.0
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30,22.0,6.347132,2653.0
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14,99.0,9.716001,2622.0
23,GRSA,Great Sand Dunes National Park,CO,42984,37.73,-105.51,14.0,8.381900,952.0
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53,293.0,8.313232,6623.0
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80,102.0,9.373725,2030.0
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87,24.0,7.075000,1746.0
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17,14.0,13.723586,2580.0
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20,35.0,6.123489,3298.0
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05,16.0,7.326819,1950.0
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55,4.0,3.018375,1397.0
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90,108.0,7.860079,2294.0
32,KATM,Katmai National Park,AK,3674530,58.50,-155.00,2.0,2.263250,1225.0
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65,2.0,21.337600,1057.0
34,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28,NaN,NaN,1025.0
35,LACL,Lake Clark National Park,AK,2619733,60.97,-153.42,NaN,NaN,2007.0
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51,59.0,7.117390,1797.0
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10,28.0,5.800725,2499.0
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49,17.0,8.225906,1243.0
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75,130.0,11.726444,1743.0
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20,20.0,9.374660,3363.0
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50,170.0,9.389508,1948.0
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78,15.0,7.688287,853.0
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16,27.0,9.421904,1416.0
44,REDW,Redwood National Park,CA,112512,41.30,-124.00,22.0,7.145291,6310.0
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58,207.0,13.007846,3152.0
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50,60.0,6.639557,1834.0
47,SEKI,Sequoia and Kings Canyon National Park,CA,865952,36.43,-118.68,151.0,9.243440,1995.0
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35,187.0,8.517370,4655.0
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45,23.0,5.785835,1165.0
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88,7.0,3.040929,1453.0
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48,10.0,5.500610,1395.0
52,WRST,Wrangell - St Elias National Park,AK,8323148,61.00,-142.00,NaN,NaN,1796.0
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50,228.0,7.006884,3966.0
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50,242.0,9.235686,2088.0
55,ZION,Zion National Park,UT,146598,37.30,-113.05,94.0,12.027557,1796.0

In [43]:
merged_parks_bio_df = merged_parks_bio_df.dropna(axis=0)
merged_parks_bio_df["trail_count"] = merged_parks_bio_df["trail_count"].map("{:,.0f}".format)
merged_parks_bio_df["avg_popularity"] = merged_parks_bio_df["avg_popularity"].map("{:.3f}".format)
merged_parks_bio_df["species_count"] = merged_parks_bio_df["species_count"].map("{:.0f}".format)
merged_parks_bio_df

C:\Users\Michael\AppData\Local\Temp\ipykernel_8536\3567692700.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_parks_bio_df["trail_count"] = merged_parks_bio_df["trail_count"].map("{:,.0f}".format)
C:\Users\Michael\AppData\Local\Temp\ipykernel_8536\3567692700.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_parks_bio_df["avg_popularity"] = merged_parks_bio_df["avg_popularity"].map("{:.3f}".format)
C:\Users\Michael\AppData\Local\Temp\ipykernel_8536\3567692700.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_parks_bio_df["species_count"] = merged_parks_bio_df["species_count"].map("{:.0f}".format)

,park_code,park_name,state,acres,latitude,longitude,trail_count,avg_popularity,species_count
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,179,8.376,1709
1,ARCH,Arches National Park,UT,76519,38.68,-109.57,48,13.462,1048
2,BADL,Badlands National Park,SD,242756,43.75,-102.50,10,13.141,1389
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25,70,7.176,2269
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08,4,4.055,1726
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72,24,7.690,1106
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18,31,16.618,1286
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93,77,8.144,1223
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17,42,9.006,1566
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44,8,5.329,1536
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42,22,5.627,1885
11,CONG,Congaree National Park,SC,26546,33.78,-80.78,8,6.676,2321
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10,22,12.431,3760
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55,50,8.771,1941
14,DENA,Denali National Park,AK,3372402,63.33,-150.50,20,6.091,1320
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82,79,6.359,4439
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87,1,5.178,848
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93,24,4.532,2084
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00,132,10.062,2556
20,GLBA,Glacier Bay National Park,AK,3224840,58.50,-137.00,5,2.159,1957
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30,22,6.347,2653
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14,99,9.716,2622
23,GRSA,Great Sand Dunes National Park,CO,42984,37.73,-105.51,14,8.382,952
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53,293,8.313,6623
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80,102,9.374,2030
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87,24,7.075,1746
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17,14,13.724,2580
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20,35,6.123,3298
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05,16,7.327,1950
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55,4,3.018,1397
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90,108,7.860,2294
32,KATM,Katmai National Park,AK,3674530,58.50,-155.00,2,2.263,1225
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65,2,21.338,1057
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51,59,7.117,1797
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10,28,5.801,2499
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49,17,8.226,1243
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75,130,11.726,1743
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20,20,9.375,3363
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50,170,9.390,1948
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78,15,7.688,853
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16,27,9.422,1416
44,REDW,Redwood National Park,CA,112512,41.30,-124.00,22,7.145,6310
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58,207,13.008,3152
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50,60,6.640,1834
47,SEKI,Sequoia and Kings Canyon National Park,CA,865952,36.43,-118.68,151,9.243,1995
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35,187,8.517,4655
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45,23,5.786,1165
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88,7,3.041,1453
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48,10,5.501,1395
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50,228,7.007,3966
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50,242,9.236,2088
55,ZION,Zion National Park,UT,146598,37.30,-113.05,94,12.028,1796

In [44]:
merged_parks_bio_data_to_load = "./Resources/parks_pop_bio.csv"
merged_parks_bio_df.to_csv(merged_parks_bio_data_to_load, index=False)