In [1]:
import pandas as pd
import numpy as np
import csv

Parks Data:

In [2]:
parks_data_to_load = "./Resources/parks.csv"
parks_df = pd.read_csv(parks_data_to_load, encoding="utf-8")
parks_df.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [3]:
renamed_parks_df = parks_df.rename(columns={"Park Code": "park_code",
                                        "Park Name": "park_name",
                                        "State": "state",
                                        "Acres": "acres",
                                        "Latitude": "latitude",
                                        "Longitude": "longitude",
                                                                    })
renamed_parks_df.head(5)

  park_code               park_name state   acres  latitude  longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

Trails Data:

In [4]:
trails_data_to_load = "./Resources/trail_data.csv"
trails_df = pd.read_csv(trails_data_to_load, low_memory=False, encoding="utf-8")
trails_df.head(5)

,trail_id,name,area_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [5]:
renamed_trails_df = trails_df.rename(columns={"area_name": "park_name",
                                            })
renamed_trails_df.head()

,trail_id,name,park_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i

In [6]:
trail_count = renamed_trails_df.groupby(["park_name"]).count()["trail_id"]
print(trail_count)

park_name
Acadia National Park                               179
Arches National Park                                48
Badlands National Park                              10
Big Bend National Park                              70
Biscayne National Park                               4
Black Canyon of the Gunnison National Park          24
Bryce Canyon National Park                          31
Canyonlands National Park                           77
Capitol Reef National Park                          42
Carlsbad Caverns National Park                       8
Channel Islands National Park                       22
Clayton Co International Park, Jonesboro GA          1
Congaree National Park                               7
Congaree National Park Wilderness                    1
Crater Lake National Park                           22
Cuyahoga Valley National Park                       50
Death Valley National Park                          79
Denali National Park                                20
Dry Tortugas National Park                           1
Everglades National Park                            24
Fort Hunt National Park                              3
Fort Pickens National Park                           2
Gateway Arch National Park                           2
Glacier Bay National Park                            5
Glacier National Park                              132
Grand Canyon National Park                          99
Grand Teton National Park                          102
Great Basin National Park                           22
Great Sand Dunes National Park and Preserve         14
Great Smoky Mountains National Park                293
Guadalupe Mountains National Park                   24
Haleakala National Park                             14
Hawaii Volcanoes National Park                      35
Hot Springs National Park                           16
Indiana Dunes National Park                         16
Isle Royale National Park                            4
Joshua Tree National Park                          108
Katmai National Park                                 2
Kenai Fjords National Park                           2
Kings Canyon National Park                          61
Lassen Volcanic National Park                       59
Mammoth Cave National Park                          28
Mesa Verde National Park                            17
Mount Rainier National Park                        130
North Cascades National Park                        20
Olympic National Park                              170
Petrified Forest National Park                      15
Pinnacles National Park                             27
Redwood National Park                               22
Rocky Mountain National Park                       207
Saguaro National Park                               60
Sequoia National Park                               90
Shenandoah National Park                           187
Theodore Roosevelt National Park                    23
Voyageurs National Park                              7
Wind Cave National Park                             10
Wolf Trap National Park for the Performing Arts      1
Yellowstone National Park                          228
Yosemite National Park                             242
Zion National Park                                  94
Name: trail_id, dtype: int64

In [7]:
trail_pop_avg = renamed_trails_df.groupby(["park_name"]).mean()["popularity"]
print(trail_pop_avg)

park_name
Acadia National Park                                8.375920
Arches National Park                               13.462423
Badlands National Park                             13.141040
Big Bend National Park                              7.176380
Biscayne National Park                              4.055200
Black Canyon of the Gunnison National Park          7.690121
Bryce Canyon National Park                         16.617903
Canyonlands National Park                           8.143584
Capitol Reef National Park                          9.006231
Carlsbad Caverns National Park                      5.329462
Channel Islands National Park                       5.626650
Clayton Co International Park, Jonesboro GA         4.729100
Congaree National Park                              7.156614
Congaree National Park Wilderness                   3.308300
Crater Lake National Park                          12.430750
Cuyahoga Valley National Park                       8.771132
Death Valley National Park                          6.359223
Denali National Park                                6.091125
Dry Tortugas National Park                          5.177600
Everglades National Park                            4.532038
Fort Hunt National Park                             4.921167
Fort Pickens National Park                          6.373850
Gateway Arch National Park                          5.306350
Glacier Bay National Park                           2.159100
Glacier National Park                              10.061925
Grand Canyon National Park                          9.716001
Grand Teton National Park                           9.373725
Great Basin National Park                           6.347132
Great Sand Dunes National Park and Preserve         8.381900
Great Smoky Mountains National Park                 8.313232
Guadalupe Mountains National Park                   7.075000
Haleakala National Park                            13.723586
Hawaii Volcanoes National Park                      6.123489
Hot Springs National Park                           7.326819
Indiana Dunes National Park                         5.099050
Isle Royale National Park                           3.018375
Joshua Tree National Park                           7.860079
Katmai National Park                                2.263250
Kenai Fjords National Park                         21.337600
Kings Canyon National Park                          7.893915
Lassen Volcanic National Park                       7.117390
Mammoth Cave National Park                          5.800725
Mesa Verde National Park                            8.225906
Mount Rainier National Park                        11.726444
North Cascades National Park                        9.374660
Olympic National Park                               9.389508
Petrified Forest National Park                      7.688287
Pinnacles National Park                             9.421904
Redwood National Park                               7.145291
Rocky Mountain National Park                       13.007846
Saguaro National Park                               6.639557
Sequoia National Park                              10.158119
Shenandoah National Park                            8.517370
Theodore Roosevelt National Park                    5.785835
Voyageurs National Park                             3.040929
Wind Cave National Park                             5.500610
Wolf Trap National Park for the Performing Arts     7.111900
Yellowstone National Park                           7.006884
Yosemite National Park                              9.235686
Zion National Park                                 12.027557
Name: popularity, dtype: float64

In [8]:
# Remove any words after the work "Park" in park_names
p = '(.*Park)'
park_name = renamed_trails_df["park_name"].str.extract(p)
park_name.value_counts()

Great Smoky Mountains National Park           293
Yosemite National Park                        242
Yellowstone National Park                     228
Rocky Mountain National Park                  207
Shenandoah National Park                      187
Acadia National Park                          179
Olympic National Park                         170
Glacier National Park                         132
Mount Rainier National Park                   130
Joshua Tree National Park                     108
Grand Teton National Park                     102
Grand Canyon National Park                     99
Zion National Park                             94
Sequoia National Park                          90
Death Valley National Park                     79
Canyonlands National Park                      77
Big Bend National Park                         70
Kings Canyon National Park                     61
Saguaro National Park                          60
Lassen Volcanic National Park                  59
Cuyahoga Valley National Park                  50
Arches National Park                           48
Capitol Reef National Park                     42
Hawaii Volcanoes National Park                 35
Bryce Canyon National Park                     31
Mammoth Cave National Park                     28
Pinnacles National Park                        27
Guadalupe Mountains National Park              24
Black Canyon of the Gunnison National Park     24
Everglades National Park                       24
Theodore Roosevelt National Park               23
Redwood National Park                          22
Crater Lake National Park                      22
Great Basin National Park                      22
Channel Islands National Park                  22
Denali National Park                           20
North Cascades National Park                   20
Mesa Verde National Park                       17
Indiana Dunes National Park                    16
Hot Springs National Park                      16
Petrified Forest National Park                 15
Haleakala National Park                        14
Great Sand Dunes National Park                 14
Badlands National Park                         10
Wind Cave National Park                        10
Congaree National Park                          8
Carlsbad Caverns National Park                  8
Voyageurs National Park                         7
Glacier Bay National Park                       5
Isle Royale National Park                       4
Biscayne National Park                          4
Fort Hunt National Park                         3
Gateway Arch National Park                      2
Fort Pickens National Park                      2
Kenai Fjords National Park                      2
Katmai National Park                            2
Dry Tortugas National Park                      1
Clayton Co International Park                   1
Wolf Trap National Park                         1
dtype: int64

In [9]:
# exchange the new park_name column in the renamed_trails_df

renamed_trails_df["park_name"] = park_name.values
renamed_trails_df

,trail_id,name,park_name,city_name,state_name,country_name,_geoloc,popularity,length,elevation_gain,difficulty_rating,route_type,visitor_usage,avg_rating,num_reviews,features,activities,units
0,10020048,Harding Ice Field Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18852, 'lng': -149.63156}",24.8931,15610.598,1161.8976,5,out and back,3.0,5.0,423,"['dogs-no', 'forest', 'river', 'views', 'water...","['birding', 'camping', 'hiking', 'nature-trips...",i
1,10236086,Mount Healy Overlook Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73049, 'lng': -148.91968}",18.0311,6920.162,507.7968,3,out and back,1.0,4.5,260,"['dogs-no', 'forest', 'views', 'wild-flowers',...","['birding', 'camping', 'hiking', 'nature-trips...",i
2,10267857,Exit Glacier Trail,Kenai Fjords National Park,Seward,Alaska,United States,"{'lat': 60.18879, 'lng': -149.631}",17.7821,2896.812,81.9912,1,out and back,3.0,4.5,224,"['dogs-no', 'partially-paved', 'views', 'wildl...","['hiking', 'walking']",i
3,10236076,Horseshoe Lake Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73661, 'lng': -148.915}",16.2674,3379.614,119.7864,1,loop,2.0,4.5,237,"['dogs-no', 'forest', 'lake', 'kids', 'views',...","['birding', 'hiking', 'nature-trips', 'trail-r...",i
4,10236082,Triple Lakes Trail,Denali National Park,Denali National Park,Alaska,United States,"{'lat': 63.73319, 'lng': -148.89682}",12.5935,29772.790,1124.7120,5,out and back,1.0,4.5,110,"['dogs-no', 'lake', 'views', 'wild-flowers', '...","['birding', 'fishing', 'hiking', 'nature-trips...",i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3308,10008302,Silversword Loop Via Halemau'u Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.75275, 'lng': -156.22884}",9.3861,20116.750,1105.8144,5,loop,2.0,4.5,43,"['dogs-no', 'views', 'wild-flowers']","['birding', 'hiking', 'nature-trips']",m
3309,10236001,Keonehe'ehe'e Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.714480000000002, 'lng': -156.25072}",9.1555,28324.384,1171.9560,5,out and back,2.0,5.0,22,"['dogs-no', 'views', 'wildlife']","['backpacking', 'camping', 'hiking']",m
3310,10258707,Red Hill Overlook Summit Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.71007, 'lng': -156.25357}",8.5066,321.868,3.9624,1,out and back,NaN,4.5,31,"['dogs-no', 'kids', 'views']","['hiking', 'walking']",m
3311,10014989,Kaupo Trail,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.64981, 'lng': -156.137}",8.3240,19312.080,1670.9136,5,out and back,1.0,4.0,8,"['dogs-no', 'views', 'wildlife']",['hiking'],m
3312,10259465,Ka Lu'u o ka O'o Cinder Cone via Crater and Sl...,Haleakala National Park,Kula,Maui,Hawaii,"{'lat': 20.71449, 'lng': -156.25085}",2.4176,8368.568,510.8448,3,loop,2.0,4.5,45,['views'],['hiking'],m

In [10]:
#Checking the regex function

renamed_trails_df["park_name"].value_counts()

Great Smoky Mountains National Park           293
Yosemite National Park                        242
Yellowstone National Park                     228
Rocky Mountain National Park                  207
Shenandoah National Park                      187
Acadia National Park                          179
Olympic National Park                         170
Glacier National Park                         132
Mount Rainier National Park                   130
Joshua Tree National Park                     108
Grand Teton National Park                     102
Grand Canyon National Park                     99
Zion National Park                             94
Sequoia National Park                          90
Death Valley National Park                     79
Canyonlands National Park                      77
Big Bend National Park                         70
Kings Canyon National Park                     61
Saguaro National Park                          60
Lassen Volcanic National Park                  59
Cuyahoga Valley National Park                  50
Arches National Park                           48
Capitol Reef National Park                     42
Hawaii Volcanoes National Park                 35
Bryce Canyon National Park                     31
Mammoth Cave National Park                     28
Pinnacles National Park                        27
Black Canyon of the Gunnison National Park     24
Everglades National Park                       24
Guadalupe Mountains National Park              24
Theodore Roosevelt National Park               23
Great Basin National Park                      22
Channel Islands National Park                  22
Redwood National Park                          22
Crater Lake National Park                      22
Denali National Park                           20
North Cascades National Park                   20
Mesa Verde National Park                       17
Hot Springs National Park                      16
Indiana Dunes National Park                    16
Petrified Forest National Park                 15
Great Sand Dunes National Park                 14
Haleakala National Park                        14
Badlands National Park                         10
Wind Cave National Park                        10
Congaree National Park                          8
Carlsbad Caverns National Park                  8
Voyageurs National Park                         7
Glacier Bay National Park                       5
Isle Royale National Park                       4
Biscayne National Park                          4
Fort Hunt National Park                         3
Gateway Arch National Park                      2
Fort Pickens National Park                      2
Katmai National Park                            2
Kenai Fjords National Park                      2
Wolf Trap National Park                         1
Clayton Co International Park                   1
Dry Tortugas National Park                      1
Name: park_name, dtype: int64

In [11]:
trail_count_pop_df = pd.DataFrame({
    "trail_count": trail_count,
    "avg_popularity": trail_pop_avg,
})

trail_count_pop_df.reset_index(inplace=True)
trail_count_pop_df = trail_count_pop_df.rename(columns = {'index':'park_name'})

trail_count_pop_df

,park_name,trail_count,avg_popularity
0,Acadia National Park,179,8.375920
1,Arches National Park,48,13.462423
2,Badlands National Park,10,13.141040
3,Big Bend National Park,70,7.176380
4,Biscayne National Park,4,4.055200
5,Black Canyon of the Gunnison National Park,24,7.690121
6,Bryce Canyon National Park,31,16.617903
7,Canyonlands National Park,77,8.143584
8,Capitol Reef National Park,42,9.006231
9,Carlsbad Caverns National Park,8,5.329462
10,Channel Islands National Park,22,5.626650
11,"Clayton Co International Park, Jonesboro GA",1,4.729100
12,Congaree National Park,7,7.156614
13,Congaree National Park Wilderness,1,3.308300
14,Crater Lake National Park,22,12.430750
15,Cuyahoga Valley National Park,50,8.771132
16,Death Valley National Park,79,6.359223
17,Denali National Park,20,6.091125
18,Dry Tortugas National Park,1,5.177600
19,Everglades National Park,24,4.532038
20,Fort Hunt National Park,3,4.921167
21,Fort Pickens National Park,2,6.373850
22,Gateway Arch National Park,2,5.306350
23,Glacier Bay National Park,5,2.159100
24,Glacier National Park,132,10.061925
25,Grand Canyon National Park,99,9.716001
26,Grand Teton National Park,102,9.373725
27,Great Basin National Park,22,6.347132
28,Great Sand Dunes National Park and Preserve,14,8.381900
29,Great Smoky Mountains National Park,293,8.313232
30,Guadalupe Mountains National Park,24,7.075000
31,Haleakala National Park,14,13.723586
32,Hawaii Volcanoes National Park,35,6.123489
33,Hot Springs National Park,16,7.326819
34,Indiana Dunes National Park,16,5.099050
35,Isle Royale National Park,4,3.018375
36,Joshua Tree National Park,108,7.860079
37,Katmai National Park,2,2.263250
38,Kenai Fjords National Park,2,21.337600
39,Kings Canyon National Park,61,7.893915
40,Lassen Volcanic National Park,59,7.117390
41,Mammoth Cave National Park,28,5.800725
42,Mesa Verde National Park,17,8.225906
43,Mount Rainier National Park,130,11.726444
44,North Cascades National Park,20,9.374660
45,Olympic National Park,170,9.389508
46,Petrified Forest National Park,15,7.688287
47,Pinnacles National Park,27,9.421904
48,Redwood National Park,22,7.145291
49,Rocky Mountain National Park,207,13.007846
50,Saguaro National Park,60,6.639557
51,Sequoia National Park,90,10.158119
52,Shenandoah National Park,187,8.517370
53,Theodore Roosevelt National Park,23,5.785835
54,Voyageurs National Park,7,3.040929
55,Wind Cave National Park,10,5.500610
56,Wolf Trap National Park for the Performing Arts,1,7.111900
57,Yellowstone National Park,228,7.006884
58,Yosemite National Park,242,9.235686
59,Zion National Park,94,12.027557

In [12]:
# # THIS WAS A DISASTER

# # Assign empty list for park names
# park_name_options = []

# with open(trails_data_to_load) as trails_data:

#     # To do: perform and read analysis data.
#     reader = csv.reader(trails_data)

#     #Read the header row
#     #header = next(file_reader)

#     #Iterate each row in the trail_data.csv file.
#     for row in reader:
        
#         # Print the park name from each row
#         park_name = row[2]
        
#         # If the park name does not match any existing candidate add it to park name options list
#         if park_name not in park_name_options:
            
#             #Add it to the list 
#             park_name_options.append(park_name)
            
# park_name_options

Biodiversity Data

In [13]:
biodiversity_data_to_load = "./Resources/species.csv"
bio_df = pd.read_csv(biodiversity_data_to_load, low_memory=False)
bio_df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [14]:
bio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119248 entries, 0 to 119247
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Species ID           119248 non-null  object
 1   Park Name            119248 non-null  object
 2   Category             119248 non-null  object
 3   Order                117776 non-null  object
 4   Family               117736 non-null  object
 5   Scientific Name      119248 non-null  object
 6   Common Names         119248 non-null  object
 7   Record Status        119248 non-null  object
 8   Occurrence           99106 non-null   object
 9   Nativeness           94203 non-null   object
 10  Abundance            76306 non-null   object
 11  Seasonality          20157 non-null   object
 12  Conservation Status  4718 non-null    object
 13  Unnamed: 13          5 non-null       object
dtypes: object(14)
memory usage: 12.7+ MB

In [19]:
bio_df["Record Status"].value_counts()

Approved                86254
In Review               32937
None                        6
 Willowherb                 1
 Devil's Shoelaces          1
 Verdolagas                 1
 Chico                      1
 Skyrocket Gilia            1
 Grass-Leaf Loco            1
 Golden Pea                 1
 Storksbill                 1
 Cranesbill                 1
 Speedwell                  1
 Common Mullein             1
 Downy Chess                1
 Wiregrass                  1
 Leather Flower             1
 Shadbush                   1
 Wild Rose                  1
 Skunkbush                  1
 Clover Bush                1
 Kinnikinnick               1
 Filaree                    1
 Liver Leaf*                1
 *                          1
 Whortleberry               1
 Claret Cup                 1
 Goosefoot                  1
 Cenizo                     1
 Bluebell                   1
 Purple Cockle              1
 Dames Rocket               1
 Manati                     1
 Ranchers' Fireweed         1
 Cocodrilo De Tumbes        1
 Cabezon                    1
 Wapiti                     1
 Short-Tailed Weasel        1
 White-Footed Mouse         1
 Northern Goshawk           1
 Northern Pintail           1
 Common Poorwill            1
 Pigeon Hawk                1
 Bushtit                    1
 American Crow              1
 Catbird                    1
 Robin                      1
 Speckled Trout             1
 Osha                       1
 Wild Iris                  1
 Fringed Sage               1
 Rushpink                   1
 Ground Daisy               1
P.Nut Sedge                 1
Name: Record Status, dtype: int64

In [15]:
bio_count = bio_df.groupby(["Park Name"]).count()["Species ID"]
print(bio_count)

Park Name
Acadia National Park                              1709
Arches National Park                              1048
Badlands National Park                            1389
Big Bend National Park                            2269
Biscayne National Park                            1726
Black Canyon of the Gunnison National Park        1106
Bryce Canyon National Park                        1286
Canyonlands National Park                         1223
Capitol Reef National Park                        1566
Carlsbad Caverns National Park                    1536
Channel Islands National Park                     1885
Congaree National Park                            2321
Crater Lake National Park                         3760
Cuyahoga Valley National Park                     1941
Death Valley National Park                        4439
Denali National Park and Preserve                 1320
Dry Tortugas National Park                         848
Everglades National Park                          2084
Gates Of The Arctic National Park and Preserve    1353
Glacier Bay National Park and Preserve            1957
Glacier National Park                             2556
Grand Canyon National Park                        2622
Grand Teton National Park                         2030
Great Basin National Park                         2653
Great Sand Dunes National Park and Preserve        952
Great Smoky Mountains National Park               6623
Guadalupe Mountains National Park                 1746
Haleakala National Park                           2580
Hawaii Volcanoes National Park                    3298
Hot Springs National Park                         1950
Isle Royale National Park                         1397
Joshua Tree National Park                         2294
Katmai National Park and Preserve                 1225
Kenai Fjords National Park                        1057
Kobuk Valley National Park                        1025
Lake Clark National Park and Preserve             2007
Lassen Volcanic National Park                     1797
Mammoth Cave National Park                        2499
Mesa Verde National Park                          1243
Mount Rainier National Park                       1743
North Cascades National Park                      3363
Olympic National Park                             1948
Petrified Forest National Park                     853
Pinnacles National Park                           1416
Redwood National Park                             6310
Rocky Mountain National Park                      3152
Saguaro National Park                             1834
Sequoia and Kings Canyon National Parks           1995
Shenandoah National Park                          4655
Theodore Roosevelt National Park                  1165
Voyageurs National Park                           1453
Wind Cave National Park                           1395
Wrangell - St Elias National Park and Preserve    1796
Yellowstone National Park                         3966
Yosemite National Park                            2088
Zion National Park                                1796
Name: Species ID, dtype: int64

In [16]:
reduced_bio_df = bio_df[["Species ID", "Park Name", "Scientific Name", "Record Status",
                       "Occurrence", "Abundance", "Conservation Status"]].copy()
reduced_bio_df.head()

,Species ID,Park Name,Scientific Name,Record Status,Occurrence,Abundance,Conservation Status
0,ACAD-1000,Acadia National Park,Alces alces,Approved,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Approved,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Approved,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Approved,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Approved,Present,Common,NaN

In [17]:
renamed_bio_df = reduced_bio_df.rename(columns={"Species ID": "species_id",
                                        "Park Name": "park_name",
                                        "Scientific Name": "scientific_name",
                                        "Record Status": "record_status",
                                        "Occurrence": "occurence",
                                        "Abundance": "abundance",
                                        "Conservation Status": "conservation_status",
                                       })
renamed_bio_df.head(10)

,species_id,park_name,scientific_name,record_status,occurence,abundance,conservation_status
0,ACAD-1000,Acadia National Park,Alces alces,Approved,Present,Rare,NaN
1,ACAD-1001,Acadia National Park,Odocoileus virginianus,Approved,Present,Abundant,NaN
2,ACAD-1002,Acadia National Park,Canis latrans,Approved,Present,Common,Species of Concern
3,ACAD-1003,Acadia National Park,Canis lupus,Approved,Not Confirmed,NaN,Endangered
4,ACAD-1004,Acadia National Park,Vulpes vulpes,Approved,Present,Common,NaN
5,ACAD-1005,Acadia National Park,Lynx canadensis,Approved,Not Confirmed,NaN,NaN
6,ACAD-1006,Acadia National Park,Lynx rufus,Approved,Not Present (Historical Report),NaN,NaN
7,ACAD-1007,Acadia National Park,Mephitis mephitis,Approved,Not Present (Historical Report),NaN,NaN
8,ACAD-1008,Acadia National Park,Lutra canadensis,Approved,Present,Common,NaN
9,ACAD-1009,Acadia National Park,Martes pennanti,Approved,Present,Rare,NaN

MERGED Parks and Trail Popularity DF (attempt)

In [18]:
merged_parks_df = pd.merge(renamed_parks_df, trail_count_pop_df, on="park_name", how="left")
merged_parks_df

,park_code,park_name,state,acres,latitude,longitude,trail_count,avg_popularity
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21,179.0,8.375920
1,ARCH,Arches National Park,UT,76519,38.68,-109.57,48.0,13.462423
2,BADL,Badlands National Park,SD,242756,43.75,-102.50,10.0,13.141040
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25,70.0,7.176380
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08,4.0,4.055200
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72,24.0,7.690121
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18,31.0,16.617903
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93,77.0,8.143584
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17,42.0,9.006231
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44,8.0,5.329462
10,CHIS,Channel Islands National Park,CA,249561,34.01,-119.42,22.0,5.626650
11,CONG,Congaree National Park,SC,26546,33.78,-80.78,7.0,7.156614
12,CRLA,Crater Lake National Park,OR,183224,42.94,-122.10,22.0,12.430750
13,CUVA,Cuyahoga Valley National Park,OH,32950,41.24,-81.55,50.0,8.771132
14,DENA,Denali National Park and Preserve,AK,3372402,63.33,-150.50,NaN,NaN
15,DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82,79.0,6.359223
16,DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87,1.0,5.177600
17,EVER,Everglades National Park,FL,1508538,25.32,-80.93,24.0,4.532038
18,GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30,NaN,NaN
19,GLAC,Glacier National Park,MT,1013572,48.80,-114.00,132.0,10.061925
20,GLBA,Glacier Bay National Park and Preserve,AK,3224840,58.50,-137.00,NaN,NaN
21,GRBA,Great Basin National Park,NV,77180,38.98,-114.30,22.0,6.347132
22,GRCA,Grand Canyon National Park,AZ,1217403,36.06,-112.14,99.0,9.716001
23,GRSA,Great Sand Dunes National Park and Preserve,CO,42984,37.73,-105.51,14.0,8.381900
24,GRSM,Great Smoky Mountains National Park,"TN, NC",521490,35.68,-83.53,293.0,8.313232
25,GRTE,Grand Teton National Park,WY,309995,43.73,-110.80,102.0,9.373725
26,GUMO,Guadalupe Mountains National Park,TX,86416,31.92,-104.87,24.0,7.075000
27,HALE,Haleakala National Park,HI,29094,20.72,-156.17,14.0,13.723586
28,HAVO,Hawaii Volcanoes National Park,HI,323431,19.38,-155.20,35.0,6.123489
29,HOSP,Hot Springs National Park,AR,5550,34.51,-93.05,16.0,7.326819
30,ISRO,Isle Royale National Park,MI,571790,48.10,-88.55,4.0,3.018375
31,JOTR,Joshua Tree National Park,CA,789745,33.79,-115.90,108.0,7.860079
32,KATM,Katmai National Park and Preserve,AK,3674530,58.50,-155.00,NaN,NaN
33,KEFJ,Kenai Fjords National Park,AK,669983,59.92,-149.65,2.0,21.337600
34,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28,NaN,NaN
35,LACL,Lake Clark National Park and Preserve,AK,2619733,60.97,-153.42,NaN,NaN
36,LAVO,Lassen Volcanic National Park,CA,106372,40.49,-121.51,59.0,7.117390
37,MACA,Mammoth Cave National Park,KY,52830,37.18,-86.10,28.0,5.800725
38,MEVE,Mesa Verde National Park,CO,52122,37.18,-108.49,17.0,8.225906
39,MORA,Mount Rainier National Park,WA,235625,46.85,-121.75,130.0,11.726444
40,NOCA,North Cascades National Park,WA,504781,48.70,-121.20,20.0,9.374660
41,OLYM,Olympic National Park,WA,922651,47.97,-123.50,170.0,9.389508
42,PEFO,Petrified Forest National Park,AZ,93533,35.07,-109.78,15.0,7.688287
43,PINN,Pinnacles National Park,CA,26606,36.48,-121.16,27.0,9.421904
44,REDW,Redwood National Park,CA,112512,41.30,-124.00,22.0,7.145291
45,ROMO,Rocky Mountain National Park,CO,265828,40.40,-105.58,207.0,13.007846
46,SAGU,Saguaro National Park,AZ,91440,32.25,-110.50,60.0,6.639557
47,SEKI,Sequoia and Kings Canyon National Parks,CA,865952,36.43,-118.68,NaN,NaN
48,SHEN,Shenandoah National Park,VA,199045,38.53,-78.35,187.0,8.517370
49,THRO,Theodore Roosevelt National Park,ND,70447,46.97,-103.45,23.0,5.785835
50,VOYA,Voyageurs National Park,MN,218200,48.50,-92.88,7.0,3.040929
51,WICA,Wind Cave National Park,SD,28295,43.57,-103.48,10.0,5.500610
52,WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00,NaN,NaN
53,YELL,Yellowstone National Park,"WY, MT, ID",2219791,44.60,-110.50,228.0,7.006884
54,YOSE,Yosemite National Park,CA,761266,37.83,-119.50,242.0,9.235686
55,ZION,Zion National Park,UT,146598,37.30,-113.05,94.0,12.027557